TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NzEzNjM3MTQsImlhdCI6MTc3MTE5NTcxNCwiaXNzIjoiL2FwaS92MS9hdXRoL2Fub255bW91cyIsInN1YiI6ImViMzIxMDNjYTVlYmZkNDFiODRkYzlmOWE1Mzk2NzVjYTA0ZjA3ZTg4OGMwMzczOTMzMmYxMGQxZmQwNzBhZjEiLCJ0eXBlIjoxMH0.SP9ZcrWHnHQjiQLqrtdU3p-hrgLdwtjF1MgyAlGRcU8ETINLoDtW3pAem2QNBhPdXLLqcsg0GXmW6ypxepZRzJPJi4wdx_S00Ckd_F4Vifa2euYmLdl_JG9XD1fd6wv4eD0-6f61b27gawfghY2cZbVuyPPPI72cjyNg7qT7vPf7K5Uiu5YqEWkVm79Uq0WPDUWWx6ZIjvUgdQ33FzTOJ23fSZEWRoYDY8NYnkNl8RXUnVP1DIZ6GoxkWNo-bzQNZIFfR-fOdnswLJ9Jtkkum4AX6_CeC1otjYySD84LWHHkqIbdYbsLJoIzWjZtV0jh-Tz23xnsUBfMCvzM3MIrhA
API_URL=https://web-agr.chitai-gorod.ru/web/api/v1/cart
URL=https://www.chitai-gorod.ru/